{% extends 'base_layout.html' %}
{% load static from staticfiles %}

{% block css %}
<link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
   <!-- Start: Header Section 
==================================================-->
    <div class="header_topbar">
        <!-- Logo -->
        <div class="container">
            <div class="row">
                <div class="header_top_left">
                    <ul class="header_socil list-inline pull-left">
                        <li>
                            <a href="#" class="fab fa-facebook fa-2x"></a>
                        </li>
                        <li>
                            <a href="#" class="fab fa-twitter fa-2x"></a>
                        </li>
                        <li>
                            <a href="#" class="fab fa-linkedin fa-2x"></a>
                        </li>
                        <li>
                            <a href="#" class="fab fa-google-plus fa-2x"></a>
                        </li>
                    </ul>
                </div>
                <div class="header_top_right list-unstyled">
                    <ul>
                        <li><i class="fa fa-envelope"></i>emunyocontractorsltd@gmail.com</li>
                        <li><i class="fa fa-phone"></i>+256 483 660 162</li>
                        <li><i class="fa fa-envelope"></i>Mon-Fri: 8:00 - 16:00 </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End: Header Info -->

    <!-- Start: header navigation -->
    <div class="navigation">
        <div class="container">
            <div class="row">
                <div class="logo col-md-2">
                    <a href="#."><img class="img-responsive" src="{% static 'images/Companylogo.bmp' %}" alt="">
                    </a>
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <div id="navigation">
                        <ul>
                            <li><a class="active" href="{% url 'home' %}">Home</a></li>
                            <li class=""><a href="{% url 'about' %}" title="page">About</a></li>
                            <li class=""><a href="{% url 'posts:list' %}" title="blog">Blog</a></li>
                            <li><a href="{% url 'photos:button_list' %}" title="Gallery">Gallery</a></li>
                            <li><a href="{% url 'contact' %}" title="Contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
                
                <!-- End: social-nav -->
            </div>
            <!--/ row -->
        </div>
        <!--/ container -->
    </div>
    <!-- End: header navigation -->
<!-- <header class="masthead" style="background-image: url('img/home-bg.jpg'); height: 520px;">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Blog</h1>
          <span class="subheading">A Blog by Emunyo Contractors ltd</span>
        </div>
      </div>
    </div>
  </div>
</header> -->
<!-- header -->
    <header id="page-top" class="blog-banner">
        <!-- Start: Header Content -->
        <div class="container" id="blog">
            <div class="row blog-header text-center wow fadeInUp" data-wow-delay="0.5s">
                <div class="col-sm-12">
                    <!-- Headline Goes Here -->
                    <h4><a href="index-2.html"> Home </a> / Blog </h4>
                    <h3>A Blog by Emunyo Contractors ltd</h3>
                </div>
            </div>
            <!-- End: .row -->
        </div>
        <!-- End: Header Content -->
    </header>
    <!--/. header -->
<!-- Main Content -->
<div class="container">
  <div class="row">
    <h2>RECENT ARTICLES</h2>
    <hr>
  	{% for post in posts %}
		{% if post.slug %}
	        <div class="col-lg-8 col-md-10 mx-auto">
	          <div class="post-preview">
	            <a href="{% url 'posts:detail' slug=post.slug %}">
					<img src="{{ post.image.url }}" class="img-responsive img-thumbnail" style="height: 300px; width: 700px; ">
					<hr>
	              <h2 class="post-title">
	                {{ post.title }}
	              </h2>
	              <hr>
	              <h4 class="post-subtitle">
	                {{ post.snippet }}
	              </h4>
	            </a>
                <hr>
	            <p class="post-meta">Posted on<a href="#"> {{ post.date }}</a></p>
	          </div>
	          <hr>
	        </div>
    	{% endif %}
	{% endfor %}

	<!-- Pager -->
      <!-- <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
      </div> -->

	</div>
</div>

<hr>

{% endblock %}

	<h1>Blog</h1>
	<div>
		{% for post in posts %}
			{% if post.slug %}
			<img src="{{ post.image.url }}">
			<h2><a href="{% url 'posts:detail' slug=post.slug %}">{{ post.title }}</a></h2>
			<p>{{ post.snippet }}</p>
			<h4><a href="{% url 'posts:detail' slug=post.slug %}">{{ post.date }}</a></h4>
			<br>
			<hr>
			<br>
			{% endif %}
		{% endfor %}
	</div>

